<% include ../partials/header %>

<div class="container">
  <div class="row justify-content-md-center">
    <div class="col-md-10">
      <div>
        <h1>
          Free Writes
        </h1>
        <a href="/free-writes/new"><button class="btn btn-success">New Free Write</button></a>
        <a href="/free-writes/upload"><button class="btn btn-primary">
            Upload
          </button></a>
      </div>

      <p>Number of Free Writes: <strong><%=user.freeWrites.length%></strong></p>
      <% if (user.freeWrites.length > 0) { %>
      <hr />
      <h2>Your Free Writes</h2>
      <% } %> <% for (let i = user.freeWrites.length - 1; i >= 0; i--) { %>
      <h3><%= user.freeWrites[i].title %></h3>
      <div><%= user.freeWrites[i].content %></div>
      <p><strong>Word Count: </strong><%= user.freeWrites[i].wordCount %></p>
      <form action="/free-writes/<%=user.freeWrites[i]._id%>?_method=DELETE" method="POST" class="sidebyside">
        <button class="btn btn-sm btn-danger">Delete</button>
      </form>
      <hr />
      <% } %>
    </div>
  </div>
</div>

<% include ../partials/footer %>