<% include ../partials/header %>
<div class="container">
  <div class="row justify-content-md-center">
    <div class="col-md-10">
      <h1><%=user.username%></h1>
      <h3>Your information</h3>
      <ul>
        <li><strong>Name:</strong> <%=user.firstName%> <%=user.lastName%></li>
        <li><strong>Email Address:</strong> <%=user.email%></li>
        <li><strong>Age:</strong> <%=user.age%></li>
      </ul>
      <a href="/user/edit"
        ><button class="btn btn-primary">Edit User Info</button></a
      >
      <hr />
    </div>
  </div>
  <% include ../partials/footer %>
</div>
